name: ci
on: pull_request
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node-setup
      - uses: ./.github/actions/yarn-setup
      - run: yarn check
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node-setup
      - uses: ./.github/actions/yarn-setup
      - uses: actions/cache@v4
        with:
          path: |
            **/*.tsbuildinfo
          key: typecheck-${{ hashFiles('**/*.tsbuildinfo') }}
          restore-keys: |
            typecheck-
      - run: yarn typecheck
  attw:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node-setup
      - uses: ./.github/actions/yarn-setup
      - run: yarn attw
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node-setup
      - uses: ./.github/actions/yarn-setup
      - run: yarn test
  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["next", "vite"]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/node-setup
      - uses: ./.github/actions/yarn-setup
      - run: node install.mjs
        working-directory: ./e2e-tests
      - run: yarn playwright install --with-deps
        working-directory: ./e2e-tests
      - run: yarn test
        working-directory: ./e2e-tests
        env:
          TEST_TARGET: ${{ matrix.target }}
      - name: Upload blob report to GitHub Actions Artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}-report-${{ github.run_attempt }}
          path: ./e2e-tests/playwright-report
          retention-days: 7
